#logo {
    width: 10vw;
    height: 70%;
    padding: 10px;
}
body {
    font-family: 'Open Sans', sans-serif;
}
header {
    background-color: #3087B4;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    width: 100%;
    position: fixed;
    top: 0;
}
#nav-bar {
    padding: 30px 3%;
    width: 85%;
    display: flex;
    justify-content: end;
}
.nav-link {
    text-decoration: none;
    color: white;
    height: 100%;
    padding: 0px 20px;

    
}
.nav-link:hover {
    background-color: #134D55;
}

#Home-page {
    margin-top: 7vh;
    height: 90vh;
    width: 100%;
    height: 93vh;
    color: white;
    line-height: 30px;

}
#Home-page::before {
    content: "";
    background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.6)),url('images/nicholas-green-nPz8akkUmDI-unsplash.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 93vh;
    margin-top: 7vh;
    z-index: -1;
    opacity: 0.75;
}
#product-description {
    margin: auto;
    text-align: center;
    width: 50%;
    margin-top: 25vh;
}
#product-description h3 {
    text-align: justify;
}
.button {
    background-color: #3087B4;
    border: 1px solid black;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}
#Pricing-page {
    margin-top: 10vw;
}
#Subscription-Plans {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

#Features {
    margin-top: 7vh;
    height: 93vh;
}
#Feature-1, #Feature-3 {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 1fr;

    align-items: center;
    justify-content: center;

}
.Feature-text {
    grid-area: "text";
}
.Feature-image {
    grid-area: "image";
}
#team-page {
    margin-top: 10vh;
}
